*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/background.PNG);
  border: 10px solid;
    animation: rgbGamingEffect 5s ease-in-out infinite;
    border-image: linear-gradient(to right,red, green, blue);
}

.hero{
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-board{
  width: 100%;
  height: fit-content;  
  height: fit-content;  
}

#logo{
    display: flex;
    justify-content: center;
}
#logo > img{
  max-width: 90%;
}
.back-button{
  position: fixed;
  margin: 10px;
}

.content{
    text-align: center;
}
.content a{
  border: 10px solid blue;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 24px;
    background-color: yellow;
    padding:14px 70px;
    border-radius: 50px;
    margin-top: 50px;
    transition: 0.5s;
}
.content a:hover{
    -webkit-text-stroke:2px #fff;
    background-color: red;
    color: transparent;
}
.content h2{
    margin: 60px;
    font-size: 70px;
    color: #fff;
    font-weight: 100;
    text-decoration: underline;
}
.content h3{
    margin: 100px;
    color: #fff;
}
.content li{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}
#content2 li{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
.titles{
    list-style: none;
    text-decoration: underline;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.hero2{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/background.PNG);
    background-size: cover;
    background-position: center;
    position: relative;
    border: 10px solid;
    animation: rgbGamingEffect 5s ease-in-out infinite;
    border-image: linear-gradient(to right,red, green, blue);
}
.hero3{
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/background.PNG);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero3 header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
 
  .hero3 .scores-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #fff;
  }
 
  .hero3 .scores-container > div {
    text-align: center;
    margin: 0 100px;
    color: #fff;
  }
 
  .hero3 .scores-container > div p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
 
  .hero3 .scores-container > div p span {
    font-size: 36px;
    color: #fff;
  }
  .whole-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
  }
  .board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 16px;
    animation: rgbGamingEffect 5s ease-in-out infinite;
    border-image: linear-gradient(to right,red, green, blue);
  }
 @keyframes rgbGamingEffect {
    0% {
      border-image: linear-gradient(to right, red, green, blue) 1;
    }
    25% {
      border-image: linear-gradient(to right, blue, red, green) 1;
    }
    50% {
      border-image: linear-gradient(to right, green, blue, red) 1;
    }
    75% {
      border-image: linear-gradient(to right, red, green, blue) 1;
    }
    100% {
      border-image: linear-gradient(to right, blue, red, green) 1;
    }
  }
 
#gameplay{
  display: none;
}

  #player-board{
    display: flex;
    justify-content: center;
  }
  #player-board > img{
    height: auto;
    width: 30%;
  }

  #cpu1-board > img{
    width: 125px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
  }
  #cpu2-board > img{
    width: 125px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
  }
  #score{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(3, 23, 88);
    height: fit-content;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 5px;
  }
  #deck > img {
    width: 125px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    
  }
  .bean-piece {
    width: 400px;
    height: 400px;
  }
  
  #wholebean {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 150px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #F4A261;
    border: 5px solid #E76F51;
    border-radius: 15px;
    box-shadow: 5px 5px #E76F51;
  }
  #wholebean img {
    width: 50px;
    height: 50px;
    margin: 0 20px;
  }
  #card-container{
    position: relative;
  }
  #card-image{
    margin: 0 auto;
    width: 100%;
  }
  #timer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  #timer-bar {
    height: 5px;
    border-radius: 10px;
    background-color: #ccc;
  }
  
  #timer-bar::after {
    content: "";
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #00c6ff;
    animation: progress 5s linear forwards;
  }
  
  @keyframes progress {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  
  #board-selection{
    opacity: 1;
    transition: opacity 0.5s ease-out;
    display: block;
  }
  #board-selection.hidden{
    opacity: 0;
    display: none;
  }
  .cpu-row{
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
  }

.board img {
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.board {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
}
/* .board :hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} */
.boards{
  display: none;
}

#win-display, #lose-display {
  display: none;
  background-color: #fdff84;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50px;
  height: auto;
  border-radius: 25px;
}
#win-display > img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px;
  padding-left: 30%;
  padding-right: 30%;
}
#lose-display > img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px;
  padding-left: 0%;
  padding-right: 0%;
}
#game-over-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}
#play-again-button, #main-menu-button {
  border: blue solid 5px;
  padding: 2em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 50px;
}
#play-again-button > a, #main-menu-button > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#play-again-button a:hover, #main-menu-button a:hover {
  -webkit-text-stroke:2px #fff;
  background: red;
  color: transparent;
}